doctype html 
html 
    head 
        title System rezerwacji maszyn
    body 
        h1 System rezerwacji maszyn
        block content
        script(src="/scripts/register.js") 
        script(src="/scripts/login.js")
        script(src="/scripts/logout.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js") 