extends main_logged_in_admin

block content 
    button(type="button" id="addMachine") Dodaj maszynę
    //- br
    //- for machine in machines
    //-     div 
    script(src="/scripts/admin/machine-mgmt.js")
            