extends main_logged_in 

block admin 
    button(type="button" id="machineMgmt") Zarządzanie maszynami
    button(type="button" id="userMgmt") Zarządzanie kontami
    block management
    script(src="/scripts/admin/admin-buttons.js" type="module")
    