extends base

block content 
    p Witaj #{username}!
    form(id="logout" onsubmit="return false;")
        input(type="submit" value="Wyloguj się")
        p#logoutError(style="color: red;")
    button(type="button" value="Moje maszyny") Moje maszyny
    button(type="button" value="Wszystkie maszyny") Wszystkie maszyny
    button(type="button" value="Moje konto") Moje konto
    if is_admin
        button(type="button" id="machineMgmt") Zarządzanie maszynami
        button(type="button" id="userMgmt") Zarządzanie kontami
        block management
    include machines.pug
    block machine
    block reserve
    script(src="/scripts/logout.js")
    script(src="/scripts/admin/admin-buttons.js" type="module")