extends base

block content 
    p Witaj #{username}!
    form(id="logout" onsubmit="return false;")
        input(type="submit" value="Wyloguj się")
        p#logoutError(style="color: red;")
    button(type="button" value="Moje maszyny" id="myMachines") Moje maszyny
    button(type="button" value="Wszystkie maszyny" id="allMachines") Wszystkie maszyny
    button(type="button" value="Moje konto" id="myAccount") Moje konto
    if is_admin
        button(type="button" id="machineMgmt") Zarządzanie maszynami
        button(type="button" id="userMgmt") Zarządzanie kontami
        block management
    include machines.pug
    block machine
    block reserve
    block my_machines
    script(src="/scripts/logout.js")
    script(src="/scripts/user-buttons.js")
    if is_admin
        script(src="/scripts/admin/admin-buttons.js")